.vscode
*.json
*/node_modules

/server/*.json

#original library for coap, edited to suit my needs
CoAP-simple-library 
Thing.CoAP
/protocols
appunti.txt
server/prova.html
analytics/static
analytics/notebooks